.section3 {
  position: relative;
  width: 100vw;
  height: 800px;
}



.content2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  color: black;
  text-align: center;
}

.content2 h1 {
  font-family: 'TTWanjudaedunsancheB';
  margin-top: 5%;
  font-size: 40px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.content2 p {
  font-family: 'yg-jalnan';
  margin-top: 5%;
  font-size: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}



.right-alignedd {
  float: right;
  width: 500px;
  height: 500px;
  margin-top: 150px;
  margin-right: 10px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.left-alignedd {
  float: left;
  width: 500px;
  height: 500px;
  margin-top: 150px;
  margin-left: 10px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 2s ease-in-out, transform 2s ease-in-out;
}

.section3.animate .left-alignedd,
.section3.animate .right-alignedd,
.section3.animate .content2 p,
.section3.animate .content2 h1

 {
  opacity: 1;
  transform: none;
}
