.section5 {
  position: relative;
  color: black;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.background-image22 {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
}


.content22 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  color: black;
  text-align: center;
}

.content22 h1 {
  font-family: 'GoryeongStrawberry';
  font-size: 40px;


  padding: 5px;
}
.content22 h2 {
  font-family: 'TTWanjudaedunsancheB';
  font-size: 70px;

  padding: 5px;
}

.content22 p {
  font-family: 'yg-jalnan';
  margin-top: 1%;
  font-size: 20px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

  padding: 10px;
}

.content22 button {
  font-family: 'yg-jalnan';
  border-radius: 48%;
  margin-top: 5%;
  font-size: 30px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;

  padding: 10px;
}

.section5.animate .content22 h1,
.section5.animate .content22 h2,
.section5.animate .content22 p,
.section5.animate .content22 button {
  opacity: 1;
  transform: none;
}

