venv
.idea/
__pycache__
problems.csv
solved_problems.csv
users.csv

myvenv
.DS_Store/
db.sqlite3
.gitattributes

ai/dags/dataset/
ai/dags/models/
ai/dags/logs/
rec_output.csv
rec_rival.csv

data/
dataset/
__pycache__
.env
.DS_Store
wandb

front/build/

SECRET.conf
user_info.csv