/* .login_all {
  width: 100vw;
  height: 100vh;
}

.login_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 10%;
}

.login_ui {
  height: 80px;
  margin: 10px;
  padding: 10px;
  align-items: center;
  text-align: center; 
}

.login_error {
  color: red;
  font-size: 8px;
} */

