.register_all {
  width: 100vw;
  height: 100vh;
}

.register_div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 10%;
}

.register_ui {
  height: 80px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.register_ui h5 {
  text-align: left;
  margin-right: 10%;
}

.register_error {
  color: red;
  font-size: 8px;
}