.group_div {
  background-color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  color: whitesmoke;
  height: 320px;
}

.logo2 {
  width: 300px;
  height: 300px;
  margin-right: 100px;
}

.group_disciription {
  text-align: left;
}

.create_kingdom {
  margin-top: 30px;
  font-weight: 700;
}

.group_create_logo {
  width: 200px;
  height: 200px;
  margin-left: 30%;
}

.logoForm {
  text-align: center;
}

.group_create_footer {
  text-align: center;
}

.group_create_visibility {
  margin-top: 30px;
}

.my_kingdom_header {
  margin-left: 10px;
}

.my_kingdom_list {
  margin-top: 10px;
}
.group_contents {
  width: 100%;
  margin-left: 5%;
}
.group_ranking {
}
.my_kingdom_all {
  margin-top: 3%;
  margin-bottom: 5%;
  margin-right: 3%;
}
.group_contents_all {
  display: flex;
  width: 100%;
}

.ranking_list {
  display: flex;
  margin-top: 10px;
  text-align: left;
}
.ranking_num {
  font-size: 1.5rem;
  margin-right: 20px;
}

.rank_info {
}

.group_all {
  width: 100%;
  height: 100%;
}

.group_detail_all {
  margin-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  margin-bottom: 5%;
}

.detail_sidebar {
  margin-left: 3%;
  margin-right: 3%;
}

.detail_menu {
  margin-top: 10%;
}

.detail_avatar {
  text-align: center;
}

.group_name {
  margin-top: 10%;
  text-align: center;
}

.group_description {
  margin-left: 2%;
}

.detail_contents {
  width: 250%;
  margin: 5px 5px;
}

.add_member {
  display: flex;
}

.add_member_input {
  width: 30%;
  margin-right: 1%;
  margin-bottom: 3%;
}

.group_info {
  display: flex;
}

.invite_btn {
  margin-left: 5%;
}

.request_badge {
  margin-left: 30%;
}

.request_list {
  display: flex;
}

.request_btn {
  margin-left: 40%;
}

.group_search {
  display: flex;
  margin-top: 4%;
}

.search_member_input {
  margin-right: 3%;
  width: 6 0%;
}

.member_table {
  width: 70%;
}

.award-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80%;
}

.aa {
  font-family: "GmarketSansMedium";
}
.award-swiper {
  padding: 5%;
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.award-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.award-card {
  width: 80%;
  height: 50%;
  background-color: whitesmoke;
  box-shadow: 3px 3px 5px grey;
}

.award-card-container {
  text-align: left;
}

.workbook-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.workbook-card {
  margin-top: 5%;
  overflow-y: scroll;
  width: 80%;
  height: 200%;
}

.workbook-swiper {
  width: 100%;
  height: 100%;
}

.workbook-container {
  width: 80%;
}

.workbook-container ::-webkit-scrollbar {
  width: 10px;
}
.workbook-container ::-webkit-scrollbar-thumb {
  background-color: yellow;
  border-radius: 10px;
}
.workbook-container ::-webkit-scrollbar-track {
  background-color: yellowgreen;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
