<<<<<<< HEAD
html, body {
  margin: 0;
  padding: 0;
  height: 100%;

}
=======
/* html, body {
  margin:0;
  padding:0;
  width:100%;
  height: 100vh;
} */
>>>>>>> 6de5af9e5b6cb4c2deeb2de56ea55b09ab95b02a

.wrapper {
  display: flex;

  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
  height: 100vh;

}

.main-content {
  flex: 1;

}


/* .content {
    height: 1500px;
    background-color: lightblue;
    padding: 10px;
}

.footer {
    position: relative;
    height: 120px;
    width: 100%;
    background-color: yellow;
} */



/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
=======
}
>>>>>>> 6de5af9e5b6cb4c2deeb2de56ea55b09ab95b02a
