
.choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 1200px;
  height: 400px;
  background-color: white;
  font-size: 18px;
  }
  
  .choice > img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-left: 0;
  margin-right: auto;
  }
  
  .choice-info {
  height: auto;
  margin-bottom: 15px;

  margin-left: 100px;
  }
  
  .choice-answer {
  margin-left: 30px;
  margin-top: 10px;
  font-size: 18px;
  }
  
  .choice-content-left {
  text-align: left;
  }
  
  @media (max-width: 767px) {
  .choice {
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  font-size: 18px;
  }
  
  .choice > img {
  width: 80px;
  height: 80px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  }
  
  .choice-info {
  margin-left: 0;
  }
  
  .choice-answer {
  margin-left: 0;
  }
  
  .choice-content-left {
  text-align: center;
  }
  }
