.home {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 20px;
  }
  
  .home-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .home_image {
    width: 100%;
    max-width: 3000px;
    height: auto;
    z-index: -1;
    align-items: center;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.138), rgba(0, 0, 0, 0));
  }
  
  .card-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 1000px;
    text-align:left
    
  }
  
  @media (min-width: 768px) {
    .home {
      padding: 40px;
    }
  
    .home_image {
      margin-bottom: -200px;
    }
  }
  
  @media (min-width: 1200px) {
    .home {
      padding: 60px;
    }
  }

