.home{
    display:flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 2000px;

}

.home_image{
    width: 2000px;
    z-index: -1;
    align-items: center;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.138),rgba(0,0,0,0));


}



.home_column{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.card-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    width: 100%; /* Adjust the width as desired */
  }

