.privacy {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 5%;
  }
  
.pripri  h1 {
    font-size: 50px;
    font-weight: bold;
    color: #555;

    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: 'GmarketSansMedium';
  }
  
.pripri  h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 10%;
    color: #555;
    text-align: center;
    margin-left: 15%;
    font-family: 'GmarketSansMedium';
    margin-right: 15%;
  }
  
.pripri  p {
    margin-bottom: 10px;
    color: #666;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Pretendard-Regular';
  }
  
 .pripri ul {
    color: #666;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Pretendard-Regular';
  }
  
 .pripri li {
    color: #666;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Pretendard-Regular';
  }
  .pripri table {
    border-collapse: collapse;
  }
  
  .table-container table,
  .table-container th,
  .table-container td {
    border: 1px solid black;
    padding: 8px;
    font-family: 'Pretendard-Regular';
  }

  .table-container {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Pretendard-Regular';
  }