/* body, ul, li 등의 기본 스타일 초기화 */
/* .rival-container, ul, h2, p {
  margin: 0;
  padding: 0;
}

p {
  font-size: 16px;
}

li {
  list-style-type: none;  
}

.rival-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
} */

/* layout-00 시작 */
/* .rival-layout-00 {
  width: 100%;
}
.rival-layout-00-profile {
  padding: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile-image img {
  border-radius: 50%;
}
.profile-content {
  margin-left: 5%;
}
.profile-user-name {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 300;
}
.profile-stats {
  display: flex;
  flex-direction: row;
}
.profile-stats p {
  margin-right: 5%;
} */

.rival-vs-section {
  margin-top: 2%;
	margin-bottom: 5%;
  animation: 0.7s curtain cubic-bezier(.86,0,.07,1) both;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: center;
}

@keyframes curtain {
  0% {
    grid-gap: 100vh; 
  }
  
  100% {
    grid-gap: 0;
  }
}

.rival-container, ul, h2, p {
  margin: 0;
  padding: 0;
  font-family: "Arial Black", sans-serif;
}

.rival-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.rival-sides {
  position: relative;
}

.side-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10vw;

  /* background-color: #dcc9a1; */
  background-color: white;
  color: #534325;
}

.side-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10vw;

  /* background-color: #1b636f; */
  background-color: white;
  color: #534325;
  flex-direction: column-reverse;
}

.side-name {
  margin: 0.3em;
  padding: 3%;
  font-size: 3vw;
}

.rivavl-image {
  font-size: 3em;
}

.rival-versus {
  width: 15vw;
  height: 15vw;
  background: #ffffff;
  border-radius: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.4vw;
  color: #123456;
  border-width: 10px;
  border-style: solid;
  border-color: #1b636f #dcc9a1 #dcc9a1 #1b636f;
  transform: rotate(-45deg);
}

.rival-versus span {
  transform: rotate(35deg);
}



.rival-select-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}