$white: #FCFCFC;
$gray: #CBCDD3;
$dark: #777777;
$error: #EF8D9C;
$orange: #FFC39E;
$success: #B0DB7D;
$secondary: #99DBB4;

$font: 'Lato', sans-serif;

.alert-container {
  display: flex;
  font-family: $font;
  text-transform: uppercase;
  text-align: center;

  position: relative;
  width: 700px;
  height: 250px;

  h1 {
    font-size: 0.9em;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 5px;
    color: $white;
    padding-bottom: 5px;
    text-transform: uppercase;
  }

  p {
    margin-top: -5px;
    font-size: 0.5em;
    font-weight: 100;
    // color: darken($dark, 10%);
    color: white;
    letter-spacing: 1px;
  }

  button {
    cursor: pointer;
  }
}

.alert-success {
  position: absolute;
  width: 35%;
  height: 100%;
  left: 0;
  background-color:#B0DB7D;
  perspective: 40px;
}

.alert-error {
  position: absolute;
  width: 35%;
  height: 100%;
  left: 0;
  // background: linear-gradient(to bottom left, $error 40%, $orange 100%);
  background: $error;
  // border-radius: 20px;
  // box-shadow: 5px 5px 20px rgba($gray, 10%);
}

.top-dot {
  display: none;
  width: 8px;
  height: 8px;
  background: $white;
  border-radius: 50%;
  position: absolute;
  top: 4%;
  right: 6%;
  &:hover {
    background: darken($white, 20%);
  }
}
.two {
  display: none;
  right: 12%;
  opacity: .5;
}
.top-face-happy {
  position: absolute;
  width: 22%;
  height: 22%;
  background: $white;
  border-radius: 50%;
  border: 1px solid $dark;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  animation: bounce 1s ease-in infinite;
}
.top-face-sad {
  position: absolute;
  width: 22%;
  height: 22%;
  background: $white;
  border-radius: 50%;
  border: 1px solid $dark;
  top: 21%;
  left: 37.5%;
  z-index: 2;
  animation: roll 3s ease-in-out infinite;
}

.top-face-eye {
  position: absolute;
  width: 5px;
  height: 5px;
  background: $dark;
  border-radius: 50%;
  top: 40%;
  left: 20%;
}
.right {
  left: 68%;
}

.top-face-mouth {
  position: absolute;
  top: 43%;
  left: 41%;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.happy {
  border: 2px solid;
  border-color: transparent $dark $dark transparent;
  transform: rotate(45deg);
}

.sad {
  top: 49%;
  border: 2px solid;
  border-color: $dark transparent transparent $dark;
  transform: rotate(45deg);
}

.top-face-shadow {
  position: absolute;
  width: 21%;
  height: 3%;
  opacity: .5;
  background: $dark;
  left: 40%;
  top: 43%;
  border-radius: 50%;
  z-index: 1;
}
.scale {
  animation: scale 1s ease-in infinite;
}
.move {
  animation: move 3s ease-in-out infinite;
}

.bottom-message {
  position: absolute;
  width: 100%;
  text-align: center;
  height: 40%;
  top: 47%;
  margin-top: 3%;
}

.bottom-btn {
  position: absolute;
  margin-top: 5%;
  background: $white;
  width: 50%;
  height: 15%;
  border-radius: 15px;
  top: 73%;
  left: 25%;
  outline: 0;
  border: none;
  box-shadow: 2px 2px 10px rgba($dark, .5);
  transition: all .5s ease-in-out;
  &:hover {
    background: darken($white, 5%);
    transform: scale(1.05);
    transition: all .3s ease-in-out;
  }
  .bottom-btn-green {
    color: darken($secondary, 20%);
    justify-content: center;
    margin: 0;
  }
  .bottom-btn-red {
    color: darken($error, 20%);
    justify-content: center;
    margin: 0;
  }
}

.bottom-message-alert {
  font-weight: 700;
  letter-spacing: 5px;
}

@keyframes bounce {
  50% {
     transform: translateY(-10px);
  }
}

@keyframes scale {
  50% {
    transform: scale(0.9);
  }
}

@keyframes roll {
  0% {
    transform: rotate(0deg);
    left: 25%;
  }
  50% {
    left: 60%;
    transform: rotate(168deg);
  }
  100% {
    transform: rotate(0deg);
    left: 25%;
  }
}

@keyframes move {
  0% {
    left: 25%;
  }
  50% {
    left: 60%;
  }
  100% {
    left: 25%;
  }
}