.contents{
    display:flex;
    flex-direction: column;
    width: 600px;
    margin-top:100px;
    height:1000px;
    
    .list {
        height:120px;
        text-align: left;
        border: solid 1px #000;
        &:hover{
            cursor: pointer;
            background-color: rgb(241, 241, 241);
        }
    }
}