@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

footer {
    width: 100%;
    border-top: solid 1px #d8d8d8;
	touch-action: none;
    
	.inner {
        list-style: none;
		display: flex;
		flex-wrap: wrap;
		width: 80%;
		margin: 0 auto;
        height: 100%;
	}
	.info {
		width: 18%;
		.logo {
            font-family: 'Exo 2', sans-serif;
            margin-top: 40px;
			margin-bottom: 14px;
			font-size: 40px;
			line-height: 1;
			font-weight: 700;
		}
	}

	.nav {
		width: 28%;
        margin-top: 50px;
        margin-bottom: 40px;
		h4 {
            font-family: 'Nanum Gothic', sans-serif;
            color: #888888;
            margin-top: 0;
            margin-bottom: 10px;
			font-weight: 500;
			line-height: 1;
		}
	}

    .sns{
        display: flex;
        justify-content: space-between;
        width: 12%;
        margin-top: 3%;
        margin-left: 37%;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 25px;
            padding: 5px;
            border-radius: 84px;
            background-color: #78787d;
            
            i {
                color: white;
            }

            transition: 0.5s;
            &:hover {
                background-color: #3f3f3f;
                color: #698182;
            }
        }
    }

	.copy {
		width: 73%;
		padding: 19px 0;
		border-top: solid 1px #d8d8d8;
		text-align: left;
		color: #78787d;
	}
    .help {
        list-style: none;
        display: flex;
		width: 27%;
		padding: 19px 0;
		border-top: solid 1px #d8d8d8;
		text-align: center;
		color: #78787d;
        li {
            font-family: 'Nanum Gothic', sans-serif;
            font-weight: 700;
            margin-left: 25px;
        }
    }
}