.group_div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 320px;
  background-color: black;
  color: whitesmoke;

  .group_disciription {
    text-align: left;
  }
}

.logo2 {
  width: 300px;
  height: 300px;
  margin-right: 100px;
}

.group_create_logo {
  width: 200px;
  height: 200px;
}

.logoForm {
  text-align: center;
}

.group_create_visibility {
  margin-top: 30px;
}

* {
  font-family: 'Pretendard-Regular';
}

.group_contents_all {
  display: flex;
  margin-top: 80px;
  padding: 0 20px;
  width: 1400px;
  min-height: 1000px;

  //   remote controller
  .remote {
    margin-top: 35px;

    .group_card {
      width: 270px;
      border-radius: 28px;
      border: solid 1px #D5D6D6;
      box-shadow: 0 4px 15px rgba(0,0,0,.1);

      .group_card_title {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 110px;
        border-radius: 28px 28px 0 0;
        background-color: #3dcb90;

        span {
          color: whitesmoke;
          font-family: "GmarketSansMedium";
          font-size: 28px;
          font-weight: 900;
        }
      }

      .group_card_content {
        min-height: 190px;
        border-radius: 0 0 28px 28px;
      }
    }

    // 킹덤 랭킹 카드
    .my_kingdom_rank {
      .my_kingdom_rank_content {
        table {
          width: 100%;
          text-align: center;
          thead {
            th {
              height: 45px;
              font-family: 'Pretendard-Regular';
              border-bottom: solid 1px #D5D6D6;
            }
          }
          tbody {
            tr {
              &:nth-child(odd) {
                background-color: #f5f5f5;
              }
              
            }
            td {
              height: 45px;
              font-family: 'NanumSquareNeo-Variable';
              font-size: 14px;
              &.last-td1 {
                border-radius: 0 0 0 28px;
              }
              &.last-td2 {
                border-radius: 0 0 28px 0;
              }
              &:nth-child(1) {
                img {
                  width: 23px;
                  height: 26px;
                }
                span {
                  display: flex;
                  justify-content: center;
                  margin-top: 5px;
                  opacity: 0.5;
                  font-family: 'Tenada';
                  font-size: 17px;
                }
              }
              &:nth-child(2) {
                text-align: left;
              }
            }
          }
        }
      }
    }

    // 그룹 초대장 카드
    .invite_card {
      margin-top: 70px;

      .invite_card_title {
        background-color: #00aacc;
      }
      .invite_card_content {
        display: flex;
        flex-direction: column;
        min-height: 170px;

        .emptyInvites {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 170px;
          opacity: 0.3;
          span {
            user-select: none;
            margin-top: 10px;
            font-family: "OTWelcomeRA";
          }
        }
        table {
          width: 100%;
          text-align: center;
          thead {
            th {
              height: 45px;
              font-family: 'Pretendard-Regular';
              border-bottom: solid 1px #D5D6D6;
            }
          }
          tbody {
            tr {
              &:nth-child(odd) {
                background-color: #f5f5f5;
              }
            }
            td {
              height: 45px;
              font-family: 'NanumSquareNeo-Variable';
              font-size: 14px;
              &.last-td1 {
                border-radius: 0 0 0 28px;
              }
              &.last-td2 {
                border-radius: 0 0 28px 0;
              }
              &:nth-child(2) {
                > div {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-left: 27px;
                  width: 45px;
                  height: 22px;
                  font-weight: bold;
                  border: solid 1px black;
                  border-radius: 5px;
                  background-color: white;
                  &:hover {
                    cursor: pointer;
                    color: blue;
                    border: solid 2px rgb(16, 83, 251);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

// 나의 킹덤
.group_contents {
  margin-left: 5%;
  width: 100%;
  min-height: 1300px;

  .group_header {
    display: flex;
    margin-bottom: 35px;
    border-bottom: 1px solid #d0d0d0;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 110px;
      height: 50px;
      font-family: "NanumSquareNeo-Variable";
      font-weight: 700;
      font-size: 17px;

      &:hover {
        cursor: pointer;
      }
    }

    .active {
      background-color: #eaeaea;
    }
  }

  .my_kingdom_header {
    padding-bottom: 15px;
    font-family: "SBAggroB";
    font-size: 40px;
    border-bottom: 2px solid black;
  }

  .group_controller {
    margin: 30px 0 30px;
    border: 1px solid #554843;
    background-color: #f9f9f9;
    > div {  
      padding: 15px 30px;
    }

    .create_kingdom {
      height: 70px;

      button {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        border: solid 1px #554843;
        background-color: #3ebb87;
        span {
            display: flex;
            justify-content: center;
            margin-top: 5px;
            font-family: 'LINESeedKR-Bd';
            font-size: 19px;
            color: white;
        }
      }
    }

    .group_search {
      display: flex;
      height: 70px;
      border-top: 1px solid #e3e4e5;

      span {
        display: flex;
        align-items: center;
        width: 105px;
        height: 100%;
        font-family: "LINESeedKR-Bd";
        font-size: 19px;
      }

      .search_member_input {
        width: 75%;

        .ant-input {
          height: 100%;
          font-family: "LINESeedKR-Bd";
        }
      }

      button {
        margin-left: 17px;
        width: 120px;
        font-family: "LINESeedKR-Bd";
        font-size: 17px;
        color: white;
        border-radius: 5px;
        border: solid 1px #554843;
        background-color: #3ebb87;
      }
    }
  }

  // 나의 킹덤이 없을 때
  .nothingKingdom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 220px;
    width: 100%;
    height: 750px;
    opacity: 0.5;
    background-color: #f5f5f5;

    img {
      width: 70px;
      height: 70px;
    }

    span {
      margin-top: 12px;
      font-family: "LINESeedKR-Bd";
      font-size: 18px;
      font-weight: 100;
    }
  }
}

// 나의 킹덤 목록
.my_kingdom_list {
  margin-bottom: 180px;
  border-bottom: 2px solid black;

  .kbBg {
    background-color: #f5f5f5;
  }

  .kingdomBox {
    padding: 35px 33px 40px;

    // 킹덤박스 윗부분
    .kbTop {
      display: flex;
      justify-content: space-between;
      padding: 18px 50px 16px 45px;
      color: #4b4846;
      border: 1px solid #dadada;
      border-bottom: 1px dotted #dddddd;
      background-color: #fbfbfb;

      span {
        display: flex;
        align-items: center;
        font-family: "yg-jalnan";
        font-size: 20px;
      }

      button {
        width: 120px;
        height: 32px;
        font-family: "LINESeedKR-Bd";
        font-size: 16px;
        color: #24272c;
        border: 1px solid #dadada;
        background-color: white;
      }
    }

    // 킹덤박스 아래부분
    .kbBottom {
      display: flex;
      height: 155px;
      padding: 25px 50px 25px 45px;
      border: 1px solid #dadada;
      border-top: 0;
      background-color: #fbfbfb;

      .kbMark {
        width: 100px;
        height: 100px;

        img {

          width: 100%;
          height: 100%;
        }
      }

      p {
        margin-top: -5px;
        font-family: "Pretendard-Regular";
        font-weight: 800;
        font-size: 18px;
      }

      .kbInfo {
        margin-left: 50px;
        width: 700px;

        ul {
          margin: 10px 0 0 0;
          padding: 0;
        }

        li {
          float: left;
          width: 220px;
          margin: 4px 0 3px 0;
          font-family: "Pretendard-Regular";
          font-size: 15px;
          color: black;
        }

        .info {
          display: inline-block;
          margin: 0 10px 0 0;
          width: 65px;
          height: 24px;
          color: white;
          font-family: "Pretendard-Regular";
          font-size: 15px;
          text-align: center;
          letter-spacing: -1.5px;
          background-color: black;
        }
      }
    }
  }
}

.kingdomListTable {
  width: 100%;
  text-align: center;

  .klBg {
    background-color: #f5f5f5;
  }
  thead{
    height: 60px;
    background-color: #08a0be;
    tr th {
      font-family: "Pretendard-Regular";
      color: white;
      font-size: 18px;
      font-weight: 600;
      border-top: solid 2px black;
    }
  }
  tbody{
    tr {
      height: 50px;
      border-bottom: 1px solid #dbdbdb;
      &:last-child {
        border-bottom: solid 2px black;
      }
      td {
        font-family: "Pretendard-Regular";
        font-size: 17px;
        &:first-child{
          text-align: left;
          padding-left: 30px;
        }
      }

      button {
        width: 80px;
        height: 33px;
        color: whitesmoke;
        border: none;
        border-radius: 5px;
        background-color: #08a0be;
      }
    }
  }
}

.group_detail_all {
  display: flex;
  justify-content: center;
  margin: 80px 0 0 0;
  width: 1350px;
  min-height: 1100px;
}

.detail_sidebar {
  margin-right: 40px;
  width: 250px;
  height: 210px;
  .groupProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 330px;
    border-radius: 28px;
    box-shadow: 0 4px 13px rgba(0,0,0,.1);
    .groupProfileImage {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      height: 220px;
      .detail_avatar {
        width: 190px;
        height: 190px;
        border-radius: 8px;
      }
      .detail_edit_btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 23px;
        height: 23px;
        font-size: 12px;
        background-color: white;
        border: solid 1px black;
        border-radius: 100px;
        &:hover {
          cursor: pointer;
          background-color: #eaeaea;
        }
      }
    }
    .group_name {
      margin-top: 8%;
      text-align: center;
      span {
        font-family: 'ONE-Mobile-Title';
        font-size: 27px;
      }
    }
  }
}

.detail_menu {
  display: block;
  margin-top: 10%;
  padding: 10px 15px 50px;
  height: 210px;
  border-radius: 28px;
  box-shadow: 0 4px 13px rgba(0,0,0,.1);
  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    border-bottom: 1px solid #e0e0e0;

    &:hover {
      cursor: pointer;
    }
    > span{
      
      font-family: 'GmarketSansMedium';
      font-size: 14px;
      font-weight: 400;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 19px;
      height: 19px;
      font-size: 8px;
      font-weight: bold;
      border-radius: 5px;
      background-color: #eff3f4;
      transition: 0.3s;
    }
  }

  li:hover,
  .active {
    color: #00876c;

    div {
      color: white;
      background-color: #00876c;
    }
  }
}


// 그룹 디테일 페이지 제목
.groupDetailTitle {
  padding: 0 0 5px 0;
  margin-bottom: 40px;
  border-bottom: 2px dotted #dbdbdb;

  span {
    font-family: "Patua One", cursive;
    font-size: 35px;
  }
}

.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  span {
    user-select: none;
    margin-top: 15px;
    color: #51ab54;
    font-family: 'Kanit', sans-serif;
    font-size: 21px;
  }
}

.groupMembers {
  width: 1050px;

  p span {
    font-family: "Pretendard-Regular";
    font-size: 17px;
    font-weight: 700;

    &:first-child {
      color: #00876c;
    }
  }
  .ant-table-container {
    border-radius: 0;
    border-top: solid 2px rgb(219, 219, 219);
    border-bottom: solid 2px rgb(219, 219, 219);
  }
  table {
    th, td {
      font-family: 'Pretendard-Regular';
      font-size: 16px;
    }
  }
}

.add_member {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 20px 18px 20px;
  margin: 5px 0 20px;
  text-align: right;
  border-radius: 15px;
  border: 1px solid #ededed;
  background-color: #fafafa;

  >span {
    display: flex;
    align-items: center;
    width: 75px;
    height: 100%;
    font-family: "LINESeedKR-Bd";
    font-size: 20px;
  }
  .add_member_input {
    width: 30%;
    height: 45px;
    .ant-input {
      height: 100%;
      font-family: "LINESeedKR-Bd";
      font-size: 16px;
    }
  }
  button {
    margin: 0 25px 0 15px;
    width: 100px;
    height: 45px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #333840;
    span {
      font-family: "LINESeedKR-Bd";
      color: white;
      font-size: 17px;
    }
  }
  .ant-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// 킹덤Member 가입 신청 목록 모달
.gmModal {
  .ant-table-container {
    border-radius: 0;
    border-top: solid 2px rgb(219, 219, 219);
    border-bottom: solid 2px rgb(219, 219, 219);
  }
  table {
    th, td, span {
      font-family: 'Pretendard-Regular';
      font-size: 15px;
    }
  }
  .emptyApply {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 190px;
    opacity: 0.2;
    span {
      user-select: none;
      margin-top: 13px;
      font-family: "OTWelcomeRA";
      font-weight: 700;
      font-size: 16px;
    }
  }
}

.add_problem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 18px 20px;
  margin: 5px 0 20px;
  text-align: right;
  border-radius: 15px;
  border: 1px solid #ededed;
  background-color: #fafafa;
  .groupCollectionProblem{
    display: flex;
    height: 40px;
  }
  .gcpNone {
    user-select: none;
    display: flex;
    align-items: center;
    transform: translateX(15px);
    span {
      margin-top: 3px;
      opacity: 0.4;
      font-family: "LINESeedKR-Bd";
      font-size: 17px;
    }
  }
  .gcpItem {
    display: flex;
    align-items: center;
    margin-right: 25px;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #e9e9e9;
    &:hover {
      cursor: pointer;
    }
    span {
      font-family: "LINESeedKR-Bd";
      font-size: 17px;
    }
    .close {
      margin-left: 11px;
      font-weight: 100;
      font-size: 15px;
    }
  }
  
  button {
    margin: 0 25px 0 15px;
    width: 110px;
    height: 45px;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: #333840;
    span {
      font-family: "LINESeedKR-Bd";
      color: white;
      font-size: 17px;
    }
  }
}

.award-container {
  display: flex;
  flex-direction: column;
  width: 1050px;
}

.award-swiper {
  padding: 5%;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.award-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.award-card {
  width: 80%;
  height: 50%;
  background-color: whitesmoke;
  box-shadow: 3px 3px 5px grey;
}

.award-card-container {
  text-align: left;
}

.workbook-container {
  width: 1050px;
  .gcpTitle {
    padding: 5px 0 15px 10px;
    height: 58px;
    font-family: 'GmarketSansMedium';
    font-size: 25px;
    font-weight: 700;
  }

  .ant-table-container {
    border-radius: 0;
    border-top: solid 2px rgb(219, 219, 219);
    border-bottom: solid 2px rgb(219, 219, 219);
  }
  table {
    th, td {
      font-family: 'Pretendard-Regular';
      font-size: 16px;
    }
  }
  .gcpItemRow:hover {
    cursor: pointer;
  }
}

// 문제집 추가 모달
.ant-modal-content {
  .gModalTitle {
    margin-left: 8px;
    font-family: 'yg-jalnan';
    font-size: 25px;
  }
  .workbook_name,
  .cpModal-add-problem {
    display: flex;
    flex-direction: column;
  }
  .cpModal-content-title {
    padding: 0 0 10px 3px;
    font-family: 'Pretendard-Regular';
    font-size: 17px;
    font-weight: 600;
  }
  .cpModal-add-problem {
    margin: 20px 0 40px 0;
  }
  .ant-divider-inner-text {
    font-family: 'Pretendard-Regular';
    font-size: 22px;
    font-weight: 500;
  }
  .ant-tag {
    margin: 0 10px 8px 0;
    padding: 3px 9px;
    width: auto;
    height: 30px;
    font-size: 14px;
    span {
      font-family: 'Pretendard-Regular';
    }
    .anticon {
      transform: translateY(-3px);
      font-size: 12px;
    }
  }
}
.modal-content {
  box-shadow: 3px -1px 15px 8px #222831;
}

.modal-container {
  // background-color: #1C2226;
  padding: 0;
  // background: linear-gradient(45deg, black, gray);

  .modal-header {
    background-color: black;
    border: 1px solid gray;
    #contained-modal-title-vcenter {
      color: white;
      font-family: 'yg-jalnan';
    }
  }

  .modal-body {
    padding: 5%;
    background-color: #121A20;
    // border-radius: 10px;
    .modal-body-border {
      border: 2px solid #818181;
      background-color: black;
      opacity: 1;
      border-radius: 10px;
      padding: 4%;
      img {
        background-color: black;
      }
      h2 {
        padding: 2%;
        padding-top: 0;
        padding-bottom: 1%;
        font-family: 'yg-jalnan';
        color: rgb(230, 230, 230);
        // color: #8a7263;
      }
      p {
        color: #818181;
        font-weight: 550;
        padding: 2%;
        padding-bottom: 3%;
        font-family: 'Pretendard-Regular';
      }
    }
  }

  .modal-submit-form {
    width: 100%;
    .modal-submit-form-group {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-left: 15%;
      margin-bottom: 2%;
    }
    .modal-submit-form-label {
      letter-spacing: -0.1px;
      word-spacing: -3px;
      color: rgb(230, 230, 230);
      margin: 1%;
      margin-bottom: 0%;
      margin-right: 15%;
      font-family: 'Pretendard-Regular';
    }
  }
}
