header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    
    
    .inner{
        display: flex;
        position: fixed;
        width: 80%;
        height: 100px;
        margin: 0;
        padding: 0;
        align-items: center;
        background-color: white;
        .logo {
            width: 100px;
            height: 100px;
            margin-right: 5px;
        }
    }
    .title {
        color:black;
        width: 57%;
        font-size: 37px;
    }
    .gnb {
        width: 29%;
        display: flex;
        justify-content: space-between;
        a {
            font-size: 19px;
            font-weight: 500;
            color: gray;
        }
        a:hover {
            color: black;
        }
    }
}
.sign_all {
    display: flex;
    justify-content: space-between;
    margin-left: 0.4%;
}
.sign_in {
    display: flex;
    justify-content: center;
    // margin-left: 1.5%;
    width: 80px;
    font-size: 19px;
    background-color: white;
    color: black;
}
.sign_up {
    display: flex;
    justify-content: center;
    // margin-left: 1%;
    width: 90px;
    font-size: 19px;
    border: 1px solid black;
    background-color: white;
}
.sign_up:hover {
    background-color: black;
    color: white;
}