.login_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
#components-form-demo-normal-login, .login-form {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.input_login_wrap {
  // border: 1px solid gray;
  // border-radius: 5%;
  // padding: 10px;
}

.login_card {
  margin-top: 10%;
  margin-left: 40%;
  margin-bottom: 10%;
  background-color: #FAFAFA;
}

#components-form-demo-normal-login, .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login, .ant-col-rtl, .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login, .login-form-button {
  width: 100%;
}

