.login_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
#components-form-demo-normal-login, .login-form {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.input_login_wrap {
  border: 1px solid gray;
  border-radius: 5%;
  padding: 10px;
}

#components-form-demo-normal-login, .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login, .ant-col-rtl, .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login, .login-form-button {
  width: 100%;
}

