.pagination {
    display: flex;
    justify-content: center;
    margin: 25px 0 330px;
  }
 
ul {
  list-style: none;
  padding: 0;
}

ul.pagination li {
  display: inline-block;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.pagination li:first-child{
  border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child{
  border-radius: 0 5px 5px 0;
}

ul.pagination li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

ul.pagination li.active a {
  font-size: 29px;
  font-weight: 700;
}