.outer{
    flex-direction: column;
    width: 1200px;
    margin-top:100px;
    height:auto;

    span, div, button, p{
        font-family: 'Pretendard-Regular';
        font-size: 17px;
    }

    > h3{
        margin-bottom: 0;
        font-size: 26px;
    }

    .goList {
        margin: 20px 0 0 0;
        width: 130px;
        height: 40px;
        font-family: 'Pretendard-Regular';
        border: solid 1px #e0e0e0;
        border-radius: 10px;
        background-color: #F7F7FA;
        &:hover {
            cursor: pointer;
            background-color: #e2e2e2;
        }
    }
    .bottom-goList{
        margin-bottom: 160px;
    }

    .pvt-btn {
        margin-left: 20px;
        width: 100px;
    }

    .post-btns {
        justify-content: space-between;
    }

    .post-detail {
        margin-top: 20px;
        border: solid 1px #e0e0e0;
        border-radius: 10px;

        .post-detail-card {
            margin: 25px 30px;


            .card-1st {
                margin: 0 0 40px;

                h4 {
                    margin: 0 0 7px;
                    font-size: 22px;
                }
                .q-prob-info {
                    margin: 0 0 16px;
                    font-size: 16px;
                }
                span {
                    display: block;
                }
                .q-user-info {
                    .Fa-User{
                        margin-right: 10px;
                    }
                    > div:nth-child(3) {
                        margin: 24px 0 0 27px;
                        > div > span {
                            margin-right: 15px;
                        }
                    }
                }
            }

            .card-2nd {
                p {
                    margin: 0 0 8px;
                }
            }

            .ditto {
                flex-direction: column;
                align-items: center;
                margin-top: 55px;
                .Fa-Question {
                    margin-bottom: 10px;
                    width: 95px;
                    height: 95px;
                    border: hidden;
                    border-radius: 50%;
                    background-color: rgb(235, 235, 235);
                    &:hover {
                        background-color: #d4d4d4;
                    }
                    > div {
                        margin: 7px 0 8px;
                    }
    
                }
                > span {
                    font-family: 'ONE-Mobile-Title';
                    font-size: 17px;
                }
            }
        }

        .post-detail-comment-info {
            padding: 15px 30px 20px 30px;
            align-items: center;
            border-top: solid 1px #e0e0e0;
            > div:nth-child(1) {
                margin-bottom: 10px;
                height: 35px;
                align-items: center;
                align-content: center;
            }
            span {
                margin: 0 8px 0 0;
                font-size: 18px;
            }
        }

    }
}
.flex {
    display: flex;
}