.post-detail-input-comment {
    form{
        justify-content: space-between;
        align-items: flex-end;
    }
    textarea{
        resize: none;
        width: 90%;
        font-size:16px;
        border-radius: 10px;
        &:focus {
            outline: none;
        }
    }
    button {
        width: 85px;
        height: 37px;
        font-size: 16px;
        border: hidden;
        border-radius: 10px;
        color: white;
        background-color: #3c8dff;
        &:hover{
            cursor: pointer;
            background-color: #207dff;
        }
    }
}