/* body, ul, li 등의 기본 스타일 초기화 시작 */
.problem-container, ul, h2, p {
  margin: 0;
  padding: 0;
}
.problem-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}
p {
  font-size: 16px;
}
li {
  list-style-type: none;  
} 
/* body, ul, li 등의 기본 스타일 초기화 끝 */

/* problem-layout-banner 시작 */
.problem-layout-banner-swiper {
  width: 100%;
}
.problem-layout-banner {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 0px;
}
.problem-layout-banner-title {
  font-family: 'Pretendard-Regular';
  padding: 5%;
}
.problem-layout-banner-title p {
  margin-top: 5%;
}
/* problem-layout-banner 끝 */




/* 문제 추천 시작 */

.problem-layout-01 {
  padding: 100px 0 158px;
  background-color: #F8F8F8;

  .problem-rec-layout {
    display: flex;
    justify-content: center;
    margin: 0 70px;

    .problem-rec-left {
      margin: 60px 0 0 0;
      width: 340px;
      h3 {
        font-family: 'SBAggroB';
        font-size: 40px;
        font-weight: 300;
      }
      span {
        font-family: 'Pretendard-Regular';
        font-size: 18px;
        font-weight: 500;
      }
      .rec-more-btn {
        margin-top: 40px;
        width: 180px;
        height: 45px;
        color: white;
        font-weight: 700;
        border-radius: 70px;
        border: hidden;
        background: linear-gradient(to right,  #11ba87, #75D779 40%);
        
        transition: box-shadow 0.2s;
        &:hover {
          cursor: pointer;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        }
      }
    }

    .problem-rec-right {
      width: 1150px;
      height:400px;
      
      .rival-btn {
        margin-left: 40px;
        span {
          font-family: 'Pretendard-Regular';
          font-size: 18px;
          font-weight: 500;
        }
        .rival-toggle{
          margin: 0 0 3px 5px;
        }
      }

      .problem-rec-swiper {
        width:100%;
        height:440px;
      }

      .swiper-wrapper {
        &:first-child {
          margin-left: 42px;
        }
      }
      
      .problem-item {
        $item-transform: 15px;
        margin-top: $item-transform;
        width: 300px;
        height: 400px;
        border: solid 1px rgb(223, 223, 223);
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* 초기 그림자 없음 */
        transition: box-shadow 0.5s, transform 0.3s;
        
        .card-top {
          height: 55%;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: rgb(91, 90, 90);
          background-color:#C4E1C5;

          .problem-item-icons {
            display: flex;
            justify-content: space-between;
            padding: 7px 7px 0 7px;
            width: 100%;
            .problem-item-star{
              display: flex;
              flex-direction: column;
              font-size: 30px;
              color:rgb(232, 232, 55);
            }
            .problem-item-tag {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30px;
              height: 30px;
              font-size: 20px;
              border-radius: 50%;
              border: hidden;
              background-color: white;/* 초기 그림자 없음 */
              // transition: all ease 0.3s;
            }
          }
          .problem-item-title {
            margin-top: 20px;
            height: 30px;
            font-family: 'ONE-Mobile-Title';
            font-size: 20px;
          }
          .problem-item-num {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px 0 0 0;
            width: 100px;
            height: 45px;
            color: white;
            font-size: 20px;
            border-radius: 70px;
            border: hidden;
            background-color:#70B673; /* 초기 그림자 없음 */
            transition: all ease 0.3s;
          }
        }
        &:hover .problem-item-num {
          width: 130px;
          height: 55px;
          font-size: 25px;
        }
        
        .card-bottom {
          height: 45%;
          display: flex;
          align-items: center;
          .problem-item-tier {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 12px;
            width: 100px;
            img {
              margin-bottom: 12px;
              width: 50px;
              // height: ;
            }
            span {
              font-weight: 700;
            }
          }
          .problem-item-info {
            display: flex;
            width: auto;
            > div {
              display: flex;
              flex-direction: column;
              &:first-child {
                align-items: flex-end;
              }
              &:last-child {
                padding-left: 5px;
              }
            }
            span {
              font-family: 'GmarketSansMedium';
              font-weight: 300;
              font-size: 16px;
            }
          }
        }
        &:hover {
          cursor: pointer;
          box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
          transform: translateY(-$item-transform);
        }
      }
      
      .swiperslide-btn {
        .gomore {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 140px 0 0 50px;
          width: 140px;
          height: 140px;
          font-size: 20px;
          border: solid 1px rgb(223, 223, 223);
          border-radius: 50%;
          background-color: white;
          transition: all ease 0.5s;
          &:hover {
            cursor: pointer;
            background-color: #e5e5e5;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }

  /* Swiper Navigation button */
  .swiper-button-next,
  .swiper-button-prev {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: hidden;
    background-color: white;
    opacity: 0; /* 초기에는 투명하게 설정 */
    box-shadow: 0px 2px 5px rgb(99, 99, 99);
    transition: opacity 0.3s ease-in-out; /* 트랜지션 속성 추가 */
    &::after {
      font-size: 22px;
      color: black;
    }
  }
  .swiper-button-prev{
    margin-left: -5px;
  }
  .swiper-button-next{
    margin-right: -5px;
  }
  .problem-rec-swiper:hover .swiper-button-disabled,
  .problem-rec-swiper:hover .swiper-button-disabled {
    opacity: 0.3;
  }
  .problem-rec-swiper:hover .swiper-button-next:not(.swiper-button-disabled),
  .problem-rec-swiper:hover .swiper-button-prev:not(.swiper-button-disabled) {
    opacity: 1;
  }
}

/* 문제 추천 끝 */




/* problem-layout-02 : 문제집 추천 시작 */
.problem-layout-02 {
  width: 100%;
  display: flex;  
  flex-direction: column;
  align-items: center;

  .problem-layout-02-container {
    margin: 143px 0;
    width: 1380px;

    .problem-layout-02-title {
      display: flex;
      justify-content: space-between;
      h3 {
        font-family: 'SBAggroB';
        font-size: 40px;
        font-weight: 300;
      }
      span {
        font-family: 'Pretendard-Regular';
        font-size: 18px;
        font-weight: 500;
      }
      .col-more-btn {
        // margin-top: 40px;
        width: 120px;
        height: 45px;
        color: white;
        font-weight: 700;
        border-radius: 70px;
        border: hidden;
        background: linear-gradient(to right,  #11ba87, #75D779 40%);
        
        transition: box-shadow 0.2s;
        &:hover {
          cursor: pointer;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        }
      }
    }

    .card-line1 {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      .col-card-item {
        margin: 0 40px;
        width: 350px;
        height: 360px;
        border-radius: 20px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
      }
      .col-card-top {
        height: 225px;
        img {
          width: 350px;
          height: 225px;
          border-radius: 20px 20px 15px 15px;
        }
      }
      .col-card-bottom {
        .col-card-title {
          margin: 17px 0 0 12px;
          span {
            font-family: 'SBAggroB';
            font-size: 26px;
          }
        }
        .col-card-content {
          margin: 5px 0 0 12px;
          span {
            font-family: 'NanumSquareNeo-Variable';
            font-weight: 500;
            font-size: 17px;
          }
          .col-card-space {
            margin:0 5px;
          }
          .gold {
            text-shadow: -1px 0 #AD5600, 0 1px #AD5600, 1px 0 #AD5600, 0 -1px #AD5600;
          }
          .platinum {
            text-shadow: -1px 0 #27E2A4, 0 1px #27E2A4, 1px 0 #27E2A4, 0 -1px #27E2A4;
          }
        }
      }
    }
  }
}



.problem-layout-02-card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 5%;
}
.problem-layout-02-card {
  width: 17%;
  margin-right: 5%;
  background-color: white;
  box-shadow: 3px 3px 5px grey;
  height: 50%;
}
.problem-layout-02-card-difficulty {
  margin-bottom: 1%;
}
/* problem-layout-02 : 문제집 추천 끝 */










/* problem-layout-02 : 문제집 추천 시작 */
.problem-layout-03 {
  width: 100%;
  display: flex;  
  flex-direction: column;
  background-color: #EFF7FF;
}
.problem-layout-03-title {
  padding: 5%;

}
.problem-layout-03-card-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 5%;
}
.problem-layout-03-card {
  width: 17%;
  margin-right: 5%;
  background-color: white;
  box-shadow: 3px 3px 5px grey;
  height: 50%;
}
.problem-layout-03-card-difficulty {
  margin-bottom: 1%;
}
/* problem-layout-02 : 문제집 추천 끝 */