.register_wrap {
  width: 30%;
  margin-top: 8%;
  margin-bottom: 15%;

  #register {
    width: 100%;
  }


}


.register_logo {
  width: 50%;
  margin-left: 30%;
}

.agreement-wrap {
  margin-top: 5%;
  margin-bottom: 5%;
  height: 100vh;
  margin-left: 30%;
  .agreement-card {
    overflow-y: scroll;
    margin-bottom: 2%;
    width: 70%;
    height: 30%;

  }
  .ant-card-body{
  }
}