.register_wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align:left;
  
  #register {
    margin-top: 200px;
    // border: 1px solid gray;
    // border-radius: 5%;
    // padding: 10px;
  }
}

