.rival-banner-section {
  // background-image: url("../../public/img/compete_bg.png");
  background-color: #222831;
  color: white;
  padding: 9%;

  display: flex;
  justify-content: center;
  h3 {
    font-size: 40px;
    font-family: 'SBAggroB';
    margin-bottom: 1%;
  }
  p {
    font-family: 'Pretendard-Regular';
    font-size: 18px;
  }
}

.rival-choice-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;
  
  img {
    padding: 5px;
    width: 70px;
    height: 70px;
    margin-right: 1%;
    cursor: pointer;
  }
}

.rival-vs-section {
  // animation: 0.7s curtain cubic-bezier(.86,0,.07,1) both;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: center;
  // background-color: #ECE2E1;
  background-color: white;
  // tbd
}
.rival-sides {
  width: 80%;
  padding: 5%;
  padding-top: 1%;
  animation: 0.5s curtain cubic-bezier(.86,0,.07,1) both;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
	justify-content: center;
  // background-color: #ECE2E1;
  background-color: white;
}
.rival-sides-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
  background-color: #181818;

  .info-name-section,
  .info-you,
  .info-vs,
  .info-rival {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.7%;
    h3 {
      margin: 0;
    }
  }
  .info-name-section {
    width: 80%;
    padding: 0;
  }
  .info-you,
  .info-rival {
    width: 100%;
  }
  .info-you {
    background-color: #ED553D;
    h3 {
      margin-left: 4%;
    }
    p {
      margin-right: 4%;
    }
  }
  .info-rival {
    background-color: #574CCE;
    h3 {
      margin-right: 4%;
    }
    p {
      margin-left: 4%;
    }
  }
  .info-vs {
    background-color: #302D4A;
    color: white;
  }

  .info-detail-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1.7%;
    // background-color: black;

    .info-detail-notice {
      margin: 1%;
      margin-bottom: 2%;
      span {
        color: white;
      }
    }

    .info-detail-content {
      width: 100%;

      hr {
        color: white;
        width: 80%;
        margin-left: 10%;
        margin-top: 0;
        margin-bottom: 0;
      }
      .info-detail-00 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1.5%;

        .detail-content-flex-end {
          color: white;
          display: flex;
          justify-content: flex-end;
        }
        .detail-content-flex-start {
          color: white;
          display: flex;
          justify-content: flex-start;
        }

        .detail-title {
          color: #5B5B5B;
        }
      }
    }
    
  }
}

@keyframes curtain {
  0% {
    grid-gap: 80vh; 
  }
  
  100% {
    grid-gap: 0;
  }
}

.rival-container, ul, h2, p {
  margin: 0;
  padding: 0;
  font-family: "Arial Black", sans-serif;
}

.rival-container {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.rival-vs-section-title {
  margin-right: 4%;
  padding: 3%;
  padding-right: 5%;
  // border-right: 0.5px solid gray;
  h3 {
    font-size: 2.5vw;
    font-family: 'SBAggroB';
    margin-bottom: 20%;
  }
  p {
    font-family: 'Pretendard-Regular';
    font-size: 1vw;
  }
}

.rival-sides {
  position: relative;
}

.side-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10vw;

  /* background-color: #dcc9a1; */
  background-color: white;
  // background-color: #ECE2E1;
  color: #534325;
}

.side-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10vw;

  /* background-color: #1b636f; */
  background-color: white;
  // background-color: #ECE2E1;
  color: #534325;
  flex-direction: column-reverse;
}

.side-name {
  margin: 0.3em;
  padding: 3%;
  font-size: 3vw;
}

.rivavl-image {
  font-size: 3em;
}

.rival-versus {
	margin-left: 10%;
	margin-right: 10%;
  width: 15vw;
  height: 15vw;
  background: #ffffff;
  border-radius: 50%;
  // margin: auto;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.4vw;
  color: #123456;
  border-width: 10px;
  border-style: solid;
  border-color: #1b636f #dcc9a1 #dcc9a1 #1b636f;
  transform: rotate(324deg);
}

.rival-versus span {
  transform: rotate(35deg);
}

.rival-sides-swiper {
  width: 221px;
}
.rival-sides-swiper-slide {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 0px;
}

.rival-layout-banner-swiper {
  width: 100%;
}
.rival-layout-banner {
  background-color: #f5f5f5;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 0px;
}
.rival-layout-banner-title {
  font-family: 'Pretendard-Regular';
  padding: 1%;
}
.rival-layout-banner-title p {
  margin-top: 1%;
}


// rival-rec-section
$color-purple: #8B5CF6;
$color-pink: #EC4899;
$color-gray: #9CA3AF;
$color-black: #1F2937;

// .rival-rec-section {
// 	width: 100%;
// 	display: flex;
// 	flex-direction: row;
// 	justify-content: center;
//   font-family: 'Baloo Paaji 2', cursive; // tbd 폰트 적용 시키기
// }
.rival-rec-section {
  width: 100%;
  height: 750px;
  padding: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // overflow: hidden;
  // background-image: linear-gradient(45deg, $color-purple, $color-pink);
  // background-color: black;
  background-color: #F5F5F5;
  font-family: 'Montserrat', sans-serif;

  * {
    box-sizing: border-box;
  }
  h3 {
    font-size: 40px;
    font-family: 'SBAggroB';
    margin-bottom: 1%;
  }
  p {
    font-family: 'Pretendard-Regular';
    font-size: 18px;
  }
}

.carousel {
  position: relative;
  width: 25%;
  height: 70%;
  perspective: 500px;
  transform-style: preserve-3d;
}

.SearchCarousel {
  position: relative;
  width: 25%;
  height: 70%;
  perspective: 500px;
  padding-top: 5%;
  // padding: 5%;
  transform-style: preserve-3d;
}

.card-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: 
    rotateY(calc(var(--offset) * 50deg)) 
    scaleY(calc(1 + var(--abs-offset) * -0.4))
    translateZ(calc(var(--abs-offset) * -30rem))
    translateX(calc(var(--direction) * -5rem));
  filter: blur(calc(var(--abs-offset) * 1rem));
  transition: all 0.3s ease-out;
}

.rival-rec-section-card-profile-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: 0 10px 50px rgb(222, 219, 62);
}
.rival-rec-section-card-profile-logos {
  margin-top: 7%;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0%;
    margin-bottom: 0.5rem;
    li {
      margin-right: 5%;
    }
    img {
      // background-color: white;
      border-radius: 50%;
      width: 38px;
      height: 38px;
    }
    img:hover {
      cursor: pointer;
      background-color: white;
    }
  }
}
.rival-rec-section-card-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px 2px gray;
  margin-right: 8%;
}

.rival-rec-section-card {
  width: 100%;
  height: 100%;
  padding: 2rem;
  // background-color: hsl(165deg, 40%, calc(100% - var(--abs-offset) * 50%));
  // background-color: #fafafa;
  background-color: #222831;
  border-radius: 1rem;
  color: $color-gray;
  text-align: center;
  transition: all 0.3s ease-out;
  
  box-shadow: 2px 2px 2px #222831;
  
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 7%;
    color: $color-black;
  }
  
  p, h2 {
    transition: all 0.3s ease-out;
    color: #FFFFFF;
    opacity: var(--active);
  }
}

.search-rival-rec-section-card {
  width: 30%;
  height: 65%;
  padding: 2rem;
  // background-color: hsl(165deg, 40%, calc(100% - var(--abs-offset) * 50%));
  // background-color: #fafafa;
  margin-top: 5%;
  background-color: #222831;
  border-radius: 1rem;
  color: $color-gray;
  text-align: center;
  transition: all 0.3s ease-out;
  
  box-shadow: 2px 2px 2px #222831;
  
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 7%;
    color: $color-black;
  }
  
  p, h2 {
    transition: all 0.3s ease-out;
    color: #FFFFFF;
    opacity: var(--active);
  }
}

.vs-rival-rec-section-card {
  width: 40%;
  height: 20%;
  padding: 2rem;
  // background-color: hsl(165deg, 40%, calc(100% - var(--abs-offset) * 50%));
  // background-color: #fafafa;
  margin-top: 5%;
  background-color: #222831;
  border-radius: 1rem;
  color: $color-gray;
  text-align: center;
  transition: all 0.3s ease-out;
  
  box-shadow: 2px 2px 2px #222831;
  
  h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 7%;
    color: $color-black;
  }
  
  p, h2 {
    transition: all 0.3s ease-out;
    color: #FFFFFF;
    opacity: var(--active);
  }
}

.rival-rec-section-nav {
  color: gray;
  font-size: 5rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  z-index: 2;
  cursor: pointer;
  user-select: none;
  background: unset;
  border: unset;
  
  &.left {
    transform: translateX(-100%) translateY(-50%);
  }
  &.left:hover {
    color: lightgreen;
  }
  
  &.right {
    right: 0;
    transform: translateX(100%) translateY(-50%);
  }
  &.right:hover {
    color: lightgreen;
  }
}

.grid-child-posts {
  display: flex;
  flex-direction: row;
  justify-content: center;

  p {
    padding: 5%;
    padding-bottom: 0;
  }
}


// button 시작
.draw-border {
  box-shadow: inset 0 0 0 4px #58cdd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.0833333333s;
  transition: color 0.25s 0.0833333333s;
  position: relative;
  justify-content: center;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0rem;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #ffe593;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: lightgreen;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
  transition-delay: 0s, 0.25s, 0s;
}

.rival-rec-section-card-btn-container {
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // height: 100%;
}

// btn 사이즈
.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 0.75em 2em;
  letter-spacing: 0.05rem;
  margin: 0.5em;
  width: 80%;
}

.btn:focus {
  outline: 2px dotted #55d7dc;
}
// button 끝







//
.rival-search-section {
  padding: 5%;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background-color: #AEE1E1;
  background-color: white;

  h3 {
    font-size: 40px;
    font-family: 'SBAggroB';
    margin-bottom: 1%;
  }
  p {
    font-family: 'Pretendard-Regular';
    font-size: 18px;
  }
}

form {
  transition: all 0.5s;
  width: 50%;
  top: 100%;
  // transform: translateY(-50%);
}
// finder width 크기 조정
.finder {
  border: 1px solid lightgray;
  width: 100%;
  background-color: #f6f5f0;
  border-radius: 15px;
  padding: 8px;
  box-shadow: 9px 9px 16px rgba(189, 189, 189, 0.6),
    -9px -9px 16px rgba(255, 255, 255, 0.5);
}
// finder height 크기 조정
.finder__outer {
  display: flex;
  width: 100%;
  height: 10px;
  padding: 1.5rem 2rem;
  border-radius: 10px;
  box-shadow: inset 10px 10px 15px -10px #c3c3c3,
    inset -10px -10px 15px -10px #ffffff;
}

.finder__inner {
  display: flex;
  align-items: center;
  position: relative;
  flex: 1;
}

.finder__form {
  flex: 1;
  height: calc(100% + 3rem);
}

.finder__input {
  width: 100%;
  height: calc(100% + 3rem);
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.5rem;
  letter-spacing: 0.75px;
}

.finder__icon {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  transition: all 0.2s;
  box-shadow: inset 0 0 0 20px #292929;
  border-radius: 50%;
  position: relative;

  &:after,
  &:before {
    display: block;
    content: "";
    position: absolute;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &:after {
    width: 10px;
    height: 10px;
    background-color: #292929;
    border: 3px solid #f6f5f0;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    left: 0px;
    right: 0;
    margin: auto;
    border-radius: 50%;

    @at-root .active & {
      border-width: 10px;
      background-color: #f6f5f0;
    }
  }

  &:before {
    width: 4px;
    height: 13px;
    background-color: #f6f5f0;
    top: 50%;
    left: 15px;
    transform: rotateZ(45deg) translate(-50%, 0);
    transform-origin: 0 0;
    border-radius: 4px;

    @at-root .active & {
      background-color: #292929;
      width: 6px;
      transform: rotateZ(45deg) translate(-50%, 25px);
    }
  }

  @at-root .processing & {
    transform-origin: 50%;
    animation: spinner 0.3s linear infinite;
    animation-delay: 0.5s;
  }

  @at-root .active & {
    transform: translateY(-5px);
  }
}

@keyframes spinner {
  0% {
    transform: rotateZ(45deg);
  }
  100% {
    transform: rotateZ(405deg);
  }
}



/* 문제 추천 시작 */

.rival-layout-01 {
  // padding: 0 0 158px;
  padding: 5%;
  width: 100%;
  background-color: white;

  .rival-rec-layout {
    display: flex;
    justify-content: center;
    margin: 0 70px;

    .rival-rec-left {
      margin: 60px 0 0 0;
      width: 340px;
      h3 {
        font-family: 'SBAggroB';
        font-size: 40px;
        font-weight: 300;
      }
      span {
        font-family: 'Pretendard-Regular';
        font-size: 18px;
        font-weight: 500;
      }
      .rec-more-btn {
        margin-top: 40px;
        width: 180px;
        height: 45px;
        color: white;
        font-weight: 700;
        border-radius: 70px;
        border: hidden;
        background: linear-gradient(to right,  rgb(129, 129, 129), #364355 40%);
        
        transition: box-shadow 0.2s;
        &:hover {
          cursor: pointer;
          color: lightgreen;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
        }
      }
    }

    .rival-rec-right {
      width: 1150px;
      height:400px;
      
      .rival-star-info {
        display: flex;
        margin-left: 40px;
        .star-icon {
          color: yellow;
        }
        span {
          font-family: 'Pretendard-Regular';
          font-size: 18px;
          font-weight: 500;
        }
      }

      .rival-rec-swiper {
        width:100%;
        height:440px;
      }

      .swiper-wrapper {
        &:first-child {
          margin-left: 42px;
        }
      }
      
      .rival-item {
        $item-transform: 15px;
        margin-top: $item-transform;
        width: 300px;
        height: 400px;
        border: solid 1px rgb(223, 223, 223);
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0); /* 초기 그림자 없음 */
        transition: box-shadow 0.5s, transform 0.3s;
        
        .card-top {
          height: 55%;
          display: flex;
          flex-direction: column;
          align-items: center;
          color: rgb(91, 90, 90);
          background-color:#222831;

          .rival-item-icons {
            display: flex;
            justify-content: flex-end;
            padding: 7px 7px 0 7px;
            width: 100%;
            .rival-item-star{
              display: flex;
              flex-direction: column;
              font-size: 30px;
              color:rgb(232, 232, 55);
            }
            .rival-item-tag {
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30px;
              height: 30px;
              font-size: 20px;
              border-radius: 50%;
              border: hidden;
              background-color: white;/* 초기 그림자 없음 */
              // transition: all ease 0.3s;
            }
          }
          .rival-item-title {
            color: white;
            margin-top: 20px;
            height: 30px;
            font-family: 'ONE-Mobile-Title';
            font-size: 20px;
          }
          .rival-item-num {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 40px 0 0 0;
            width: 100px;
            height: 45px;
            color: #5F9EA0;
            border: 3px solid #5F9EA0;
            font-size: 20px;
            border-radius: 70px;
            background-color: #222831; /* 초기 그림자 없음 */
            transition: all ease 0.3s;
          }
        }
        &:hover .rival-item-num {
          width: 130px;
          height: 55px;
          font-size: 25px;
          border: 3px solid lightgreen;
          color: lightgreen;
        }
        
        .card-bottom {
          height: 45%;
          display: flex;
          align-items: center;
          .rival-item-tier {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 12px;
            width: 100px;
            img {
              margin-bottom: 12px;
              width: 50px;
              // height: ;
            }
            span {
              font-weight: 700;
            }
          }
          .rival-item-info {
            display: flex;
            width: auto;
            > div {
              display: flex;
              flex-direction: column;
              &:first-child {
                align-items: flex-end;
              }
              &:last-child {
                padding-left: 5px;
              }
            }
            span {
              font-family: 'GmarketSansMedium';
              font-weight: 300;
              font-size: 16px;
            }
          }
        }
        &:hover {
          cursor: pointer;
          box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.3);
          transform: translateY(-$item-transform);
        }
      }
      
      .swiperslide-btn {
        .gomore {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 140px 0 0 50px;
          width: 140px;
          height: 140px;
          font-size: 20px;
          border: solid 1px rgb(223, 223, 223);
          border-radius: 50%;
          background-color: white;
          transition: all ease 0.5s;
          &:hover {
            cursor: pointer;
            background-color: #e5e5e5;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }

  /* Swiper Navigation button */
  .swiper-button-next,
  .swiper-button-prev {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: hidden;
    background-color: white;
    opacity: 0; /* 초기에는 투명하게 설정 */
    box-shadow: 0px 2px 5px rgb(99, 99, 99);
    transition: opacity 0.3s ease-in-out; /* 트랜지션 속성 추가 */
    &::after {
      font-size: 22px;
      color: black;
    }
  }
  .swiper-button-prev{
    margin-left: -5px;
  }
  .swiper-button-next{
    margin-right: -5px;
  }
  .rival-rec-swiper:hover .swiper-button-disabled,
  .rival-rec-swiper:hover .swiper-button-disabled {
    opacity: 0.3;
  }
  .rival-rec-swiper:hover .swiper-button-next:not(.swiper-button-disabled),
  .rival-rec-swiper:hover .swiper-button-prev:not(.swiper-button-disabled) {
    opacity: 1;
  }
}


/* 문제 추천 끝 */